body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: white;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  margin: 15px;
}

.sidebar {
  flex-direction: row;
  width: 20%;
}
.top-sidebar {
  background-color: #121212;
  color: #fff;
  height: 12vh;
  padding: 14px;
  border-radius: 10px;
}

.border-top-side {
  margin: 10px 14px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: white;
}
.border-top-side:hover {
  opacity: 0.7;
}

.second-sidebar {
  background-color: #121212;
  color: #fff;
  height: 77vh;
  border-radius: 10px;
  margin-top: 10px;
  padding: 12px;
}

.playlist-container {
  background-color: #242424;
  border-radius: 8px;
  margin: 30px 0;
  padding: 10px 19px 20px 20px;
}

.playlist-container h3 {
  font-size: 16px;
  font-weight: 600;
}
.playlist-container h4 {
  font-size: 14px;
  font-weight: 400;
}

.btn-white {
  border-radius: 15px;
  color: black;
  padding: 8px 16px;
  background-color: white;
  font-weight: 700;
}

.content {
  background-color: #100f0f;
  margin: 0 0 0 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  gap: 10px;
}

.card {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: #181818;
  height: 296px;
  width: 205px;
}
.card img {
  height: 50%;
  width: 100%;
  border-radius: 10px;
}

.card-content {
  padding: 10px;
}

.card-content h2 {
  font-size: 16px;
  font-weight: 700;
}

.card-content p {
  font-size: 14px;
  font-weight: 400;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
